<html>
    <link rel="stylesheet" href="/css/ClassPanel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


<head>
    <title>
        StudyMaid - Profile
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>


<body>
<nav>
    <div class="menu-items">
        <ul class="nav-links" id="nav-links">
            <li><a href="/dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/study">
                <i class="uil uil-book"></i>
                <span class="link-name">Study</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-setting"></i>
                <span class="link-name">Settings</span>
            </a></li>
            <li><a href="/class">
                <i class="uil uil-bell-school"></i>
                <span class="link-name">Class</span>
            </a></li>

        </ul>
        
        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>
        </ul>
    </div>
</nav>

<section class="dashboard" style="overflow-y:scroll; overflow-x:hidden; height:100%;">


    <div class="top">
        <div class="topnavbar">
            <ul>
                 <li>
                     <span id="AnnouncementsButton">Announcements</span>
                 </li>
                <li>
                    <span id="AssignmentsButton">Assignments</span>
                </li>
            </ul>
        </div>
     </div>

     <div class="Announcements" id="Announcements" hidden>
         <div class="AnnouncementsBox" style="overflow-y:scroll; overflow-x:hidden; height:100%;">
                <div>
                    <p style="color: rgb(255, 66, 117);"><strong>Administrator</strong> <span><i class="uil uil-star"></i></span></p>
                    <p>Do note that the 'Announcements' function is currently disabled due to maintenance.</p>
                </div>
                <div>
                    <p style="color: rgb(162, 228, 184);"><strong>System</strong> <span><i class="uil uil-star"></i></span></p>
                    <p>Welcome to chat.</p>
                </div>
                 <div>
                     <p><strong>Teacher</strong></p>
                     <p>Welcome to the class. Test message 1</p>
                 </div>
                 <div>
                    <p><strong>Class Representative</strong></p>
                    <p>Hello</p>
                </div>
                <div>
                    <p><strong>Class Representative</strong></p>
                    <p>Hello</p>
                </div>
                <div>
                    <p><strong>Class Representative</strong></p>
                    <p>Hello</p>
                </div>
         </div>
         <div class="AnnouncementsInput">
            <!-- <input class="text" id="AnnouncementsMessageInput" placeholder="" value="">-->
            <!-- <button class="SendMessageButton"><i class="uil uil-message"></i></button> -->
         </div>
     </div>

     <div class="Assignments" id="Assignments">
        <div class="AssignmentList" >
            <div>
                <span class="AssignmentName"> Test element</span>
                <span class="DueDate"> 12 Jul 2023</span>
            </div>
        </div>
    </div>

</section>

</div>

</body>

<script src="/js/ClassPanel.js"></script>

</html>