<html>

<link href="css/index.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


<head>
    <title>
        StudyMaid - Home
    </title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="#" class="btn home">Home</a></li>
                    <li><a href="Login" class="btn login">Login</a></li>
                </ul>
            </nav>
        </nav>

        <div class="text-box">
            <h1>StudyMaid</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus purus dolor, ullamcorper et enim nec, sollicitudin mollis est. Vestibulum mollis lectus augue. In suscipit leo purus, at feugiat lectus porta id. Pellentesque ac massa iaculis, feugiat magna a, dignissim tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec congue tincidunt enim, sit amet tincidunt dolor luctus ac. Etiam ut diam in mauris sagittis pulvinar. Duis quis aliquet nunc. Integer at enim fermentum, rhoncus tortor auctor, euismod risus.</p>
            <a href="" class="hero-btn">More</a>

        </div>
    </section>
</body>

</html>