<html>

    <link href="css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<body>
    
    <section>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/" class="btn home">Home</a></li>
                    <li><a href="#" class="btn login">Login</a></li>
                </ul>
            </nav>
        </nav>
    </section>
    <section class="loginform">
        <form action="/Login" method="POST">
        <div class="Logo"> </div>
        <div><input type="text" name="name" placeholder="Username"></div>
        <div><input type="password" name="password" placeholder="Password"></div>
        <div><a href="register">Do not have an account?</a></div>
        <button class="loginbutton" type="submit">Login</button>
        <div><p class="divider1">OR</p></div>
        <br>
        <div class="google-btn">
            <div class="google-icon-wrapper">
              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text">Sign in with google</p>
          </div>
        </form>
    </section>
</body>

</html>

