<html>

    <link href="css/NewRegister.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <body>
        <section>
            <nav>
                <div class="nav-links">
                    <ul>
                        <li><a href="/" class="btn home">Home</a></li>
                        <li><a href="/Login" class="btn login">Login</a></li>
                    </ul>
                </nav>
            </nav>
        </section>

        <div class="RegisterDiv">
            <form action="/Register" method="POST">

            <div class="title">
                <p>REGISTER</p>
            </div>
            <div class="inputs">
                <div>
                    <span>
                        <i class="uil uil-user"></i>
                    </span>
                    <input type="text" name="name" placeholder="Username">
                </div>
                <hr>
                <div>
                    <span>
                        <i class="uil uil-lock"></i>
                    </span>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <hr>
                <div>
                    <span>
                        <i class="uil uil-envelope"></i>
                    </span>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <hr>
                <div>
                    
                    <select name="accounttype">
                        <option>Student</option>
                        <option>Teacher</option>
                        <option>Freelance Teacher</option>
                    </select>
                </div>
            </div>

            <button class="registerbutton" type="submit">Register</button>
            
        </form>

        </section>

    </body>

</html>