<html>

    <link href="css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<body>
    <section>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/" class="btn home">Home</a></li>
                    <li><a href="/Login" class="btn login">Login</a></li>
                </ul>
            </nav>
        </nav>
    </section>
        <section class="loginform">
            <form action="/Register" method="POST">
            <div class="Logo"> </div>
            <div><input type="text" name="name" id="name" placeholder="Username"></div>
            <div><input type="password" name="password" id="password" placeholder="Password"></div>
            <button class="loginbutton" type="submit">Register</button>
        </form>
        </section>
    </form>

    <script scr="js/register.js"></script>
</body>

</html>

