<html>

    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


<head>
    <title>
        StudyMaid - Profile
    </title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <div class="side-bar">
            <div><label>Menu</label></div>
            <div class="selectors">
                <div><button id="currentpage"><a href="/dashboard">Dashboard</a></button></div>
                <div><button id="studybtn"><a href="/study">Study</a></button></div>
                <div><button id="settingsbtn"><a href="/settings">Settings</a></button></div>
            </div>
            <div><button id="logout">Logout</button></div>
        </div>
    </section>


</body>

</html>