<html>
    <link rel="stylesheet" href="/css/teacherpanel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


<head>
    <title>
        StudyMaid - Profile
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>


<body>
<nav id="sidebar">
    <div class="menu-items">
        <ul class="nav-links" id="nav-links">
            <li><a href="/dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/study">
                <i class="uil uil-book"></i>
                <span class="link-name">Study</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-setting"></i>
                <span class="link-name">Settings</span>
            </a></li>
            <li><a href="/class">
                <i class="uil uil-bell-school"></i>
                <span class="link-name">Class</span>
            </a></li>

        </ul>
        
        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" id="usersearchbar" placeholder="Search here..." value>
        </div>

    </div>

    <div class="Classes" id="Classes">

        
    </div>

    <div class="ClassAttendees" id="ClassAttendees" hidden>

        
    </div>

</section>

</body>

<script src="/js/TeacherPanel.js"></script>

</html>